<body class="text-center">
	<form class="text-center p-5" [formGroup]="addExpenseForm" (ngSubmit)="onSubmit(addExpenseForm.value)">

		<p class="h4 mb-4">Registro de gasto</p>
		<input type="text" id="name" class="form-control mb-4" placeholder="Nombre" formControlName="name">
    <input type="amount" id="amount" class="form-control mb-4" placeholder="Monto" formControlName="amount">

    <ul class="types">
      <p *ngFor="let rubro of rubros">
        <span class="type">{{rubro.id}}</span> {{rubro.nombre}}
      </p>
    </ul>
		<p *ngIf="errMsg">{{errMsg}}</p>

		<button class="btn btn-info btn-block my-4" type="submit">Registrar gasto</button>
	</form>
</body>