<body>
  <button class="btn btn-info button-small my-4" (click)="addExpense()">Registrar gasto</button>
  <div class="text-center">
    <h5>Mis ultimos gastos </h5>
    <p *ngIf="gastos?.length <= 0">No se registraron gastos aún</p>
    <p *ngIf="errMsg">{{errMsg}}</p>

    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let titulo of titulos" scope="col">{{ titulo }} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let gasto of gastos; let i = index">
          <td>{{gasto.nombre}}</td>
          <td>${{gasto.monto}}</td>
          <td><button class="btn btn-light button-small" (click)="removeExpense(i)">Eliminar</button></td>
        </tr>
        <tr *ngIf="gastos?.length > 0">
          <h5>Total ${{total}}</h5>
        </tr>
      </tbody>
    </table>
  </div>
  <body class="container m-t-1">
    <app-expenses-per-type></app-expenses-per-type>
  </body>
  <body class="container m-t-1">
    <app-purchase-by-type></app-purchase-by-type>
  </body>
</body>